
<div class="top_nav_right">
    <div class="wthreecartaits wthreecartaits2 cart cart box_1">
        <form action="@Url.Action("XemGioHang", "GioHang")" method="post" class="last">
            <input type="hidden" name="cmd">
            <input type="hidden" name="display">
            <button class="w3view-cart" type="submit" name="submit" value="">
                <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>