
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--pos page start-->
<div class="pos_page">
    <div class="container">
        <!--pos page inner-->
        <div class="pos_page_inner">
            <!--about section area -->
            <div class="about_section section_two">
                <div class="row align-items-center">

                    <div class="col-12">
                        <div class="about_content">
                            <div class="my"><h1 class="text-center">Chúng tôi là <br>MOBILESHOP</h1></div>
                            <p>
                                Chào mừng bạn đến với MOBILESHOP - điểm đến lý tưởng cho những người đam mê công nghệ và muốn sở hữu những chiếc điện thoại hàng đầu trên thị trường! Với sự đa dạng về sản phẩm, dịch vụ chăm sóc khách hàng tận tình và đội ngũ nhân viên chuyên nghiệp, chúng tôi tự hào là một trong những điểm đến hàng đầu cho những ai đang tìm kiếm sự hoàn hảo trong thế giới công nghệ di động
                                Tại MOBILESHOP, chúng tôi cam kết cung cấp cho bạn những sản phẩm chất lượng nhất từ các thương hiệu uy tín trên toàn thế giới. Từ những chiếc điện thoại thông minh cao cấp đến các sản phẩm giá trung bình phổ biến, chúng tôi mang đến sự lựa chọn đa dạng để phù hợp với mọi nhu cầu và ngân sách của bạn.
                                Chúng tôi hiểu rằng mua sắm trực tuyến có thể đôi khi là một trải nghiệm không dễ dàng, vì vậy chúng tôi đã tạo ra một trang web dễ sử dụng và thân thiện với người dùng. Từ việc duyệt qua danh sách sản phẩm đến quá trình thanh toán, mọi thứ đều được thiết kế để đem lại trải nghiệm mua sắm trực tuyến trơn tru và tiện lợi nhất cho bạn
                                Không chỉ là một nơi để mua sắm, MOBILESHOP còn là một cộng đồng đam mê công nghệ. Chúng tôi cung cấp các bài đánh giá chi tiết, so sánh sản phẩm và tin tức công nghệ mới nhất để giúp bạn hiểu rõ hơn về các sản phẩm và xu hướng mới nhất trên thị trường
                                Hãy tham gia với chúng tôi ngay hôm nay và khám phá thế giới không ngừng phát triển của công nghệ di động tại MOBILESHOPs - nơi bạn có thể tìm thấy sự hoàn hảo cho nhu cầu của mình!
                            </p>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="about_thumb">
                            <img src="~/Asset/images/cart/about3.jpg" alt="Logo">
                        </div>
                    </div>
                </div>
            </div>
            <!--about section end-->
            <!--counterup area -->
            <div class="counterup_section">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single_counterup">
                            <div class="counter_img">
                                <img src="~/Asset/images/cart/count.png" alt="">
                            </div>
                            <div class="counter_info">
                                <h2 class="counter_number">2170</h2>
                                <p>KHÁCH HÀNG</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single_counterup count-two">
                            <div class="counter_img">
                                <img src="~/Asset/images/cart/count2.png" alt="">
                            </div>
                            <div class="counter_info">
                                <h2 class="counter_number">8080</h2>
                                <p>Giải thưởng</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single_counterup">
                            <div class="counter_img">
                                <img src="~/Asset/images/cart/count3.png" alt="">
                            </div>
                            <div class="counter_info">
                                <h2 class="counter_number">2150</h2>
                                <p>Giờ hoạt động</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single_counterup count-two">
                            <div class="counter_img">
                                <img src="~/Asset/images/cart/cart5.png" alt="">
                            </div>
                            <div class="counter_info">
                                <h2 class="counter_number">2170</h2>
                                <p>Sự hài lòng</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--counterup end-->
            <!--counterup area -->
            <div class="counterup_section">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h1 class="text-center text-danger">Các chi nhánh</h1>
                        <ul class="list__intro">
                            <li>
                                <img loading="lazy" src="https://www.landiniassociates.com/assets/strip/_1200x630_crop_center-center_82_none/The-Mobile-Shop-Landini-Associates-Loblaws-Technology-Interior-Design-Phone-Shop-Graphics-Retail-Iphone-Designer-Canada-Department_1_2023-03-02-021148_mnyx.jpg?mtime=1677723109" alt="Alternate Text" />
                                <h1>Chi nhanh 1: 140 Lê Trọng Tấn, P.Tây Thạnh, Q.Tân Phú, TP.Hồ Chí Minh.</h1>
                            </li>

                            <li>
                                <img loading="lazy" src="https://bdinterior.com.bd/storage/2022/10/top-showroom-interior-design-in-bangladesh-01-1-1024x576.jpg" alt="Alternate Text" />
                                <h1>Chi nhanh 2: 222 Phan Chu Trinh, Phường 2, Thành phố Vũng Tàu.</h1>
                            </li>
                        </ul>
                        <ul class="list__intro">
                            <li>
                                <img loading="lazy" src="https://content.jdmagicbox.com/comp/thane/c1/022pxx22.xx22.130426170856.c4c1/catalogue/top-10-mobile-shop-kalyan-city-thane-mobile-phone-dealers-903m6.jpg" alt="Alternate Text" />
                                <h1>Chi nhanh 3: 19C Hoàng Diệu, Điện Bàn, Ba Đình.</h1>
                            </li>

                            <li>
                                <img loading="lazy" src="https://content.jdmagicbox.com/comp/satara/l4/9999p2162.2162.150518214229.q9l4/catalogue/famous-mobile-shop-phaltan-satara-mobile-phone-dealers-3nrg2mokjg.jpg?clr=333333" alt="Find A Mobile Shop Near You | The Mobile Shop" />
                                <h1>Chi nhanh 4: Bà Nà Hills - Xã Hòa Ninh, Huyện Hòa Vang, T.P Đà Nẵng</h1>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--counterup end-->
            </div>
            <!--pos page inner end-->
        </div>
    </div>


    <style>
            .pos_page {
                /*padding: 30px;*/
            }
            /*.pos_page img {
            width: 300px;
            height: 300px;
        }*/
            .text-center {
                margin: 10px;
                font-weight: 700;
            }

            .about_content {
                margin-top: 20px;
            }

            .counterup_section {
                margin-top: 20px;
                /*padding: 30px;*/
                text-align: center;
            }

            .list__intro {
                list-style: none;
                display: flex;
            }

                .list__intro li {
                    margin: 5px;
                }

                .list__intro img {
                    list-style: none;
                    width: 70%;
                    margin: 10px;
                    border-radius: 10px;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                }

                .list__intro h1 {
                    font-weight: 700;
                    color: black;
                    text-align: center;
                    padding: 10px;
                    font-size: 25px;
                }
    </style>
