
@{
    ViewBag.Title = "LoiPhanQuyen";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Bạn không đủ quyền truy cập vào trang này vui lòng trởi về trang chủ @Html.ActionLink("Trởi về", "Index", "Home")</h2>

